.layout-header {
    height: 50px;
    color: white;
    line-height: 50px;
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #1b81d7, #2bc0ec);
}

.header-left {
    float: left;
    margin-left: 10px;
}

.header-right {
    float: right;
    margin-right: 10px;
}

.header-logo {
    vertical-align: middle;
}

.header-app-name {
    vertical-align: middle;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 5px;
}

.header-user {
    vertical-align: middle;
    margin-left: 10px;
}

.layout-content {
    min-height: calc(100vh - 130.5px);
    max-height: calc(100vh - 130.5px);
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-footer {
    background-color: white;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
