<p-confirmDialog></p-confirmDialog>

<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad layout-header">
        <a class="header-left">
            <img class="header-logo" width="40px" src="../../../assets/logo-middle.png">
            <span class="header-app-name">EVOLVE</span>
        </a>
        <a class="header-right">
            <input type="text" pInputText placeholder="Search">
            <span class="header-user">Leon.Li</span>
            <img width="40px" src="../../../assets/avatar.png">
        </a>

    </div>

    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12">
            <p-menubar [model]="items" [autoDisplay]="false">
                <div>
                    <p-button (onClick)="confirmLogout()"
                              icon="fa fa-fw fa-sign-out"></p-button>
                </div>
            </p-menubar>
        </div>

        <div class="ui-g-12 layout-content">
            <router-outlet></router-outlet>
        </div>

        <div class="ui-g-12 ui-g-nopad layout-footer">
            Copyright © 2018 EOA Soft. All Rights Reserved
        </div>
    </div>
</div>
