<div *ngIf="!logined" class="login">
    <router-outlet></router-outlet>
</div>

<div *ngIf="logined" class="ui-g">
    <!--<div class="ui-g-2 layout-sidebar ui-g-nopad">-->
        <!--<div>-->
            <!--<div style="text-align: center;height: 150px;">-->
                <!--<h2>{{title}}</h2>-->
            <!--</div>-->

            <!--<p-panelMenu [model]="items" styleClass="main-menu"></p-panelMenu>-->
        <!--</div>-->
    <!--</div>-->

    <div class="ui-g-12 ui-g-nopad layout-header">
        <div class="ui-g-4 ui-g-nopad">
            <div class="logo-container">
                <img class="app-logo" src="../assets/logo-middle.png">
            </div>

            <div class="app-name">EVOLVE</div>
        </div>
        <div class="ui-g-8 ui-g-nopad"></div>
    </div>

    <div class="ui-g-12 ui-g-nopad layout-main">
        <div class="ui-g-12 layout-toolbar">
            <p-menubar [model]="items" [autoDisplay]="false">
                <div>
                    <input type="text" pInputText placeholder="Search">
                    <button pButton label="Logout" icon="fa-sign-out"></button>
                </div>
            </p-menubar>
            <!--<p-toolbar>-->
                <!--<div class="ui-toolbar-group-left">-->
                    <!--<i class="fa fa-bars"></i>-->
                <!--</div>-->

                <!--<div class="ui-toolbar-group-right">-->
                    <!--<button pButton type="button" label="New" icon="fa-plus"></button>-->
                    <!--<button pButton type="button" label="Open" icon="fa-folder-open"></button>-->
                    <!--<button pButton type="button" icon="fa-search"></button>-->
                    <!--<i class="fa fa-bars"></i>-->
                    <!--<button pButton type="button" icon="fa-refresh"></button>-->
                    <!--<button pButton type="button" icon="fa-trash"></button>-->
                <!--</div>-->
            <!--</p-toolbar>-->
        </div>

        <div class="ui-g-12 layout-content">
            <p>Content</p>
            <div style="height: 1500px;">
                <router-outlet></router-outlet>
            </div>
        </div>

        <div class="ui-g-12 ui-g-nopad layout-footer">
            Footer
        </div>
    </div>
</div>
