.layout-sidebar {
    /*background-image: linear-gradient(to bottom,#2bc0ec,#1b81d7);*/
    background: linear-gradient(180deg,#4e5159 0,#1f2023);
    color: white;
}

.layout-main {

}

.layout-toolbar {

}

.layout-content {
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-footer {
    background-color: white;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.ui-corner-all {
    border-radius: inherit !important;
}
