<div class="login-body">
    <div class="login-wrapper">
        <div class="logo">
            <img src="../../../assets/logo.png">
        </div>

        <div class="ui-g login-form">
            <div class="ui-g-12 login-form-top">
                <span>EOA</span>
            </div>

            <div class="ui-g-12 login-form-row">
                <input class="login-form-input" pInputText type="text" placeholder="Username">
            </div>

            <div class="ui-g-12 login-form-row">
                <input class="login-form-input" pPassword type="password" placeholder="Password">
            </div>

            <div class="ui-g-6 login-form-row">
                <p-checkbox binary="true" label="Remember Me"></p-checkbox>
            </div>

            <div class="ui-g-6 login-form-row login-form-row-right">
                <span>Forgot Password</span>
            </div>

            <div class="ui-g-12 login-form-row login-form-row-right">
                <p-button label="Login"></p-button>
            </div>
        </div>
    </div>
</div>
